<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
		<title>EatDaBurger</title>
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/js/app.js"></script>	
	</body>
</html>
