<h1>Burgers</h1>

<h2>Burgers not eaten</h2>

<ul>
  {{#each burger_data}}
  
  {{#unless this.devoured}}
  <button id={{this.id}}>Devour</button>
  {{this.burger_name}}
  
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers eaten</h2>

<ul>
  {{#each burger_data}}
  {{#if this.devoured}}
  {{this.burger_name}}
  {{/if}}
  {{/each}}
</ul>
{{!-- button in handlebars for toggle and put route into burger controller --}}
<h2>add a burger</h2>
<form class="create-form" action="/burgers/create" method="POST">

  <div class="form-group">
    <label for="ca">burger name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Add Cat</button>
</form>